button {
  border: none;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.main_bg-color {
  background-color: #a279ef;
  height: 70px
}
.main_text-color {
  color: #fff6ff;
  &:hover {
    color: #DFD7DF;
    fill: #DFD7DF;
    text-decoration: none;
  }
}

